.btn {
	padding: 14px 29px;
	background: #ec5863;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14em;
	margin-top: 24px;
	color: #fcfdfe;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	&--blue {
		background: #4285f4;
	}
	&:hover {
		box-shadow: 0px 4px 10px rgba(53, 57, 66, 0.4);
		transition: .2s;
	}
	&:not(:hover) {
		transition: .2s;
	}
}
